<footer class="footer">
    <div class="footer_background" style="background-image:url(assets/images/footer_background.png)"></div>
    <div class="container">
        <div class="row footer_row">
            <div class="col">
                <div class="footer_content">
                    <div class="row">

                        <div class="col-lg-3 footer_col">

                            <!-- Footer About -->
                            <div class="footer_section footer_about">
                                <div class="footer_logo_container">
                                    <a href="#">
                                        <div class="footer_logo_text">Axe Média<span>tion</span></div>
                                    </a>
                                </div>
                                <div class="footer_about_text">
                                    <p>FAITES SIMPLEMET CE QUI FONCTIONNE</p>
                                </div>
                                <div class="footer_social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 footer_col">

                            <!-- Footer Contact -->
                            <div class="footer_section footer_contact">
                                <div class="footer_title">Contacter  nous</div>
                                <div class="footer_contact_info">
                                    <ul>
                                        <li>Email: axe.mediationcfc@gmail.com</li>
                                        <li>Phone: +(33) 06 95 94 71 09</li>
                                        <li>25 avenue du Bourget du Lac</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 footer_col">

                            <!-- Footer links -->
                            <div class="footer_section footer_links">
                                <div class="footer_title">Contacter nous</div>
                                <div class="footer_links_container">
                                    <ul>
                                        <li><a href="index.html">Acceuil</a></li>
                                        <li><a href="about.html">A propos</a></li>
                                        <li><a href="contact.html">Formations</a></li>
                                       
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 footer_col clearfix">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d2791.768013956283!2d5.9165957!3d45.5952081!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x478ba8796f32726d%3A0xab2e4f12a3cc0127!2sSas%20Axe%20Mediation%20153%20Rue%20du%20Bertillet%2073000%20Chamb%C3%A9ry%20France!3m2!1d45.5952081!2d5.916595699999999!5e0!3m2!1sen!2stn!4v1657912278759!5m2!1sen!2stn" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                          
                    </div>
                </div>
            </div>
        </div>

        <div class="row copyright_row">
            <div class="col">
                <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
                    <div class="cr_text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> Tous droits réservés| Ce modèle est fait avec <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer>