<div class="super_container">



    

    <!-- Menu -->

    <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
        <div class="menu_close_container">
            <div class="menu_close">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="search">
            <form action="#" class="header_search_form menu_mm">
                <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
                <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                        <i class="fa fa-search menu_mm" aria-hidden="true"></i>
                    </button>
            </form>
        </div>
        <nav class="menu_nav">
            <ul class="menu_mm">
                <li class="menu_mm"><a href="index.html">Acceuil</a></li>
                <li class="menu_mm"><a href="#">A propos de nous</a></li>
                <li class="menu_mm"><a href="#">Cours</a></li>
                <li class="menu_mm"><a href="#">Page</a></li>
                <li class="menu_mm"><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>

    <!-- Home -->

	<div class="home">
		<div class="home_slider_container">
			
			<!-- Home Slider -->
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(assets/images/home_slider_1.jpg)"></div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title">Bienvenue sur Axe Médiation </div>
									<div class="home_slider_subtitle">La formation révèle l'aptitude et le terrain révèle la compétence</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(assets/images/home_slider_1.jpg)"></div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title">Bienvenue sur Axe Médiation E-Learning</div>
									<div class="home_slider_subtitle">La formation révèle l'aptitude et le terrain révèle la compétence</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(assets/images/home_slider_1.jpg)"></div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title">Bienvenue sur Axe Médiation E-Learning</div>
									<div class="home_slider_subtitle">La formation révèle l'aptitude et le terrain révèle la compétence</div>
								
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Home Slider Nav -->

		<div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
		<div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
	</div>

    

    <!-- Popular Courses -->

    <div class="courses">
        <div class="section_background parallax-window" data-parallax="scroll" data-image-src="assets/images/courses_background.jpg" data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        <h2 class="section_title">Les formations les plus populaires</h2>
                       
                    </div>
                </div>
            </div>
            <div class="row courses_row">

                <!-- Course -->
                <div class="col-lg-4 course_col">
                    <div class="course">
                        <div class="course_image"><img src="assets/images/course_4.png" alt=""></div>
                        <div class="course_body">
                            <h3 class="course_title"><a href="course.html">Word</a></h3>
                            
                            <div class="course_text">
                            
                            </div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span>20 Apprenant</span>
                                </div>
                                <div class="course_info">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5 notes</span>
                                </div>
                                <div class="course_price ml-auto">Gratuit</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Course -->
                <div class="col-lg-4 course_col">
                    <div class="course">
                        <div class="course_image"><img src="assets/images/course_6.png" alt=""></div>
                        <div class="course_body">
                            <h3 class="course_title"><a href="course.html">Power Point</a></h3>
                            
                            <div class="course_text">
                            
                            </div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span>20 Apprenant</span>
                                </div>
                                <div class="course_info">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5 notes</span>
                                </div>
                                <div class="course_price ml-auto">Gratuit</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Course -->
                <div class="col-lg-4 course_col">
                    <div class="course">
                        <div class="course_image"><img src="assets/images/course_5.jpg" alt=""></div>
                        <div class="course_body">
                            <h3 class="course_title"><a href="course.html">Excel</a></h3>
                            
                            <div class="course_text">
                            
                            </div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span>20 Apprenant</span>
                                </div>
                                <div class="course_info">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5 notes</span>
                                </div>
                                <div class="course_price ml-auto">Gratuit</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="courses_button trans_200"><a href="#">
                        Voir toutes les formations</a></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Counter -->

    <div class="counter">
        <div class="counter_background" style="background-image:url(assets/images/counter_background.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="counter_content">
                        <h2 class="counter_title">S'inscrire maintenant
                        </h2>
                  

                        <!-- Milestones -->

                        <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

                            <!-- Milestone -->
                            <div class="milestone">
                                <div class="milestone_counter" data-end-value="15">0</div>
                                <div class="milestone_text">Années</div>
                            </div>

                            <!-- Milestone -->
                            <div class="milestone">
                                <div class="milestone_counter" data-end-value="120" data-sign-after="k">0</div>
                                <div class="milestone_text">Années</div>
                            </div>

                            <!-- Milestone -->
                            <div class="milestone">
                                <div class="milestone_counter" data-end-value="670" data-sign-after="+">0</div>
                                <div class="milestone_text">Années</div>
                            </div>

                            <!-- Milestone -->
                            <div class="milestone">
                                <div class="milestone_counter" data-end-value="320">0</div>
                                <div class="milestone_text">Années</div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

           

        </div>
    </div>

   
    <!-- Team -->

    

    
    <!-- Newsletter -->

    

    <!-- Footer -->

   
</div>